body {
  margin: 0;
  padding: 0;
  background: #151515 url("../images/bkg.png") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  display: block;
  margin: 0 0 20px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

li {
  line-height: 1.4 ;
}

/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-bottom: 1px dashed #b5e853;
  padding: 20px 0;
  margin: 0 0 40px 0;
}

header h1 {
  font-size: 30px;
  line-height: 1.5;
  margin: 0 0 0 -40px;
  font-weight: bold;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

header h1:before {
  content: "./ ";
  font-size: 24px;
}

header h2 {
  font-size: 18px;
  font-weight: 300;
  color: #666;
}

#downloads .btn {
  display: inline-block;
  text-align: center;
  margin: 0;
}

/* Main Content
*/

#main_content {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}
section img {
  max-width: 100%
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  color: #b5e853;
  letter-spacing: -0.03em;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1),
               0 0 5px rgba(181, 232, 83, 0.1),
               0 0 10px rgba(181, 232, 83, 0.1);
}

#main_content h1 {
  font-size: 30px;
}

#main_content h2 {
  font-size: 24px;
}

#main_content h3 {
  font-size: 18px;
}

#main_content h4 {
  font-size: 14px;
}

#main_content h5 {
  font-size: 12px;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

#main_content h6 {
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  margin: 0 0 5px 0;
}

dt {
  font-style: italic;
  font-weight: bold;
}

ul li {
  list-style: none;
}

ul li:before {
  content: ">>";
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 13px;
  color: #b5e853;
  margin-left: -37px;
  margin-right: 21px;
  line-height: 16px;
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Buttons
*/

.btn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.btn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.btn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}

.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}

/* Clearfix */

.cf:before, .cf:after {
  content:"";
  display:table;
}

.cf:after {
  clear:both;
}

.cf {
  zoom:1;
}
pre, code {
    display: block;
    background: none repeat scroll 0 0;
    background-color: #555555;
    border-radius:4px 4px 4px 4px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 10px inset;
    clear: both;
    font-family: 'Consolas', 'Courier', 'Monaco', monospace;
    color: #fff;
    /*background-color: #f8f8f8;*/
    margin: 5px 0px;
    overflow: auto;
    padding: 10px;
    white-space: pre;
    /*text-indent: 1em;*/
}


.dp-highlighter,.prettyprint{
    position:relative;
    overflow-y: hidden;
    overflow-x:auto;
}
.pad_bot{
    padding-bottom:45px!important;
}
.save_code{
    display: none;
    position: absolute;
    /*width: 105px;*/
    height:60px;
    right: 30px;
    top:5px;
    font-size: 14px;
    color:#fff;
    cursor: pointer;
    z-index:2;
}

#mask_code{
    display: none;
    position: fixed;
    width:100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.3);
    z-index:990;
}

/*.gist_edit{
    position: absolute;
    left:50%;
    top:50%;
    width: 505px;
    height: 330px;
    margin: -165px 0 0 -252px;
    z-index: 9999;
}*/

.gist_edit{
  display: none;
  position: absolute;
  left:50%;
  top:50%;
  width: 505px;
  height: 330px;
    /*margin: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
  margin: -165px 0 0 -252px;
  z-index: 9999;
}

.save_snippets {

    clear: both;
    overflow: hidden;
    background: #fff;
    border: 1px solid #dddcdd;
    font-size: 14px;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
.save_snippets .tit {
    clear: both;
    overflow: hidden;
    height: 45px;
    line-height: 45px;
    border-bottom: 1px solid #dddcdd;
    padding: 0 20px;
    box-sizing:border-box;
}
.save_snippets .tit h3 {
    float: left;
    font-weight: normal;
    font-size: 16px;
    height: 45px;
    line-height: 45px;
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}

.gist_edit_list{
    padding:0;
    box-sizing:border-box;
    width:100%;
}
.save_snippets .tit span {
    display: block;
    float: right;
    color: #999;
    height: 45px;
    line-height: 45px;
    box-sizing:border-box;
}
.save_snippets .tit span a {
    color: #0000ff;
    text-decoration: underline;
}
.save_snippets .tit span a:link, .save_snippets .tit span a:visited, .save_snippets .tit span a:hover, .save_snippets .tit span a:active {
    color: #0000ff;
    text-decoration: underline;
}
.save_snippets .con_form {
    clear: both;
    overflow: hidden;
    padding-top: 20px;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li {
    clear: both;
    overflow: hidden;
    min-height: 32px;
    margin-bottom: 20px;
    list-style: none;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li span.red {
    display: block;
    float: left;
    line-height: 36px;
    height: 32px;
    color: #f00;
    padding-right: 10px;
    margin-left: 20px;
    box-sizing:border-box;
}
.save_snippets .con_form .gist_edit_list li span.txt {
    display: block;
    float: left;
    height: 32px;
    line-height: 32px;
    padding-right: 20px;
}
.save_snippets .con_form .gist_edit_list li .form-input {
    float: left;
    width: 398px;
    height: 30px;
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 0 10px;
    color: #666;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
#divSearchTags{
    float:left;
    width: 398px;
    color: #666;
    font-family: "Microsoft YaHei";
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 0 10px;
    margin-left:2px;
    box-sizing:border-box;
    text-align:left;
}
#divSearchTags .label span{
    color:#666;
}
.insertTag{
    height: 30px;
    width:208px;
    color: #666;
    background: none;
    border:none;
    box-sizing:border-box;
}
#divSearchTags .blog_tag{
    display: block;
    float:left;
    margin:7px 10px 7px 0;
    padding:0 5px;
    background: #f3f3f3;
    color:#666;
    border-radius: 10px;
    box-sizing:border-box;
}
#divSearchTags .blog_tag span{
    display: block;
    float: left;
}
#divSearchTags .label a{
    color:#666;
    margin-left:8px;
    box-sizing: border-box;
}
.save_snippets .con_form .gist_edit_list li .form-textarea {
    float: left;
    width: 398px;
    height: 60px;
    font-size: 12px;
    border: 1px solid #dddcdd;
    background: #fafafa;
    padding: 3px 10px;
    color: #666;
    font-family: "Microsoft YaHei";
    box-sizing:border-box;
}
.save_snippets .bottom-bar {
    clear: both;
    overflow: hidden;
    border-top: 1px solid #dddcdd;
    padding: 17px 20px;
}
.save_snippets .bottom-bar .btn-submit {
    border: 1px solid #888;
    background: #f0f0f0;
    border-radius: 2px;
    border-left: 0;
    border-top: 0;
    width: 45px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: right;
    margin-left: 7px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #333;
}


/*code*/
.file_holder .file_content.code table.lines pre.line_numbers{
    width:40px!important;
}
